*{
font-family:'Times New Roman', Times, serif;
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
.Navigation{
align-items:center;
display: flex;
}
nav{
flex: 1;
text-align: right;
}
nav ul{
display: inline-block;
list-style-type: none;
}
nav ul li{
display: inline-block;
margin-right: 20px;
}
a{
text-decoration: none;
color: #555;
}
.container{
max-width: 100vw;
padding-right: 50px;
}
.Welcoming{ /*back groud/advertisement/sale announcement*/
border: 1px solid black;
height: 80vh;
width: 100vw;
display: flex;
background: yellow;
border-top: none;
margin: auto;
}
* {box-sizing:border-box}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.store{
  border: 1px solid black;
  height: 100vh;
  width: 100vw;
}
.item1{
  border: 1px solid red;
  height: 50ch;
  width: 50ch;
  display: flex;
}
.Store{
border: 1px solid black;
height: 80vh;
width: 100vw;
display: flex;
}
.sale{
  flex-direction: column;
}